$principal: #3D3D3D;
$blanco: #f9f9f9;

section {
    margin: 0px;
    width: 100%;
}

.bg-image {
    background-image: url('../Assets/Header-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position:center;
}


body {
    font-family: "Montserrat", sans-serif;
}

h2 {
    color:#3D3D3D;
}

.row {
    margin-left: 0;
}

.container {

    h2 {
        padding-left: 15px;
        padding-right: 15px;
    }

    p {
        padding-left: 15px;
        padding-right: 15px;
        text-align: justify;
    }
}

#Nosotros h2 {
    color:#FFFFFF;
    font-weight:bold;
}

.SeccionOscura {
    background-color: $principal;
    color: #FFFFFF;
    padding: 40px;
}

.SeccionOscura {
    p {
        text-align: justify;
    }
}

.btn-secondary {
    background-color: $principal;
    color: $blanco;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}


.TextoBlanco {
    color: #FFFFFF;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: $principal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size:100px;
}

h3 {
    font-weight: bolder;
}

.ProyectosArq {
	background-color: $blanco;
	height: 250px;
    margin: 1px;
    text-transform:uppercase;
    margin-top:-150px; 
    margin-bottom:20px;
}

.Renders {
	background-color: $blanco;
	height: 250px;
    margin: 1px;
    text-transform:uppercase;
    margin-bottom:60px;
}

.ProyectosArq:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../Assets/Casa\ MT\ Frente-min.jpg');
    width: 100%;
    height: 250px;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

.Renders:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('../Assets/Casa\ RM\ -\ min.jpg') ;
    width: 100%;
    height: 250px;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

img {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.row {
    &.SeccionOscura{
        
        .card {
            width: 18rem;
            background-color: #3D3D3D;
            border-style: none;
            padding:20px;
            align-items: center;
            align-self: center;
            align-content: center;
        }
    
        .card-img-top {
            width: 18rem;
        }
    }
}


.imgSocios {
    object-fit: contain;
    height: 200px;
    width: 100%;
}

.nosotrosTexto {
    padding-top: 15px;
}

.image {
    position: relative;
    width: 100%;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    width: 340px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    color: $blanco;
    align-items: left;
    opacity: 0;
}

.image__overlay1 {
    position: absolute;
    top: 0;
    width: 709.99px;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    color: $blanco;
    align-items: left;
    opacity: 0;
}

.image__overlay1:hover {
    opacity: 1;
    transition: opacity 0.25s;
}

.image__overlay1 > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay1:hover > * {
    transform: translateY(0);
}


.image__overlay:hover {
    opacity: 1;
    transition: opacity 0.25s;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    margin-left: 15px;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
    position: absolute;
    bottom: 20px;
}

.marginTop {
    margin-top: 30px;
}

.marginBottom {
    margin-bottom: 30px;
}

.serviciosContainer {
    background-color: $blanco;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    margin-top: 0;
}

.serviciosContainer h2 {
    color: $principal;
}

.card-deck .card {
    padding: 32px 32px 0;
    margin: 16px;
    border-radius: 0;
    border: 0;
    background-color: $blanco;
}

.card-deck .card:hover {
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    background-color: $blanco;
}

.card-deck .card:hover .card-title{
    color: $principal;
}

.card-deck .card .card-body {
    padding: 0;
}

.card-deck .card .card-img-top{
    margin-bottom: 24px;
    border-radius: 0px;
    height: 200px;
    width: 200px;
    background-size:contain;
    align-self: center;
}

.card-deck .card .card-title {
    color: $principal;
    font-size: 20px;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

.card-deck .card .card-text {
    color: $principal;
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
}

.card-deck .card:hover .card-text {
    color: $principal;
}

.map  {
    width: 100%;
    height: 350px;
    border: 0;
    margin-top: 60px;
}

.map iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.liContacto {
    margin-left: 0px;
}

.contact-form {
    position:absolute;
    top:25%;
    left:60%;
    z-index:1000;
    background: $principal;
    color: $blanco;
    padding:20px;
    border-radius: 5px;
    max-width: 400px;
}

.contact-form h2 {
    color: $blanco;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 2;
  color: $blanco;
}

.contact-text {
  letter-spacing: 1px;
  color: #bbb;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.carousel-inner {
    width: 100%;
    height: auto;
}

#caroulselChico {
    height: 400px;
    padding: 30px;
    background-color: $blanco;
}

.carousel-inner1 {
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.carousel-img1 {
    height: 300px;
    object-fit: cover;
}


.carousel-img {
    width: 100%;
    height: auto;
}

#info {
    background-color: $principal;
    color: $blanco;
    padding: 25px;
}   

.imgAlta {
    height: 500px;
    object-fit: contain;
}

.imgAncha {
    height: 300px;
    object-fit: contain;
    padding: 15px;
}

#dobleImagen {
    background-color: $blanco;
    padding: 25px;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: $blanco; 
  color: $principal;
}

.social-media-list li:hover a {
  color: #000;
}

#footer .container-fluid .col-sm-6 a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $principal;
    text-decoration: none;
    margin-bottom: 18px;
}

#footer .container-fluid .col-sm-6 a:hover {
    color: #000000;
}

#footer {
    img {
        height: 200px;
        size: 200px;
    }
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}


@media only screen and (max-width: 768px) {

    .marginImg {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-deck-servicios {
        padding: 30px;
    }

    .bg-image {
        background-size:cover;
        padding: 0px;
        height: 500px;
        background-position: center;
    }

    .marginMobile {
        margin-top: 20px;
    }

    .Renders {
        margin-top:20px; 
    }

    .image__overlay {
        position: absolute;
        top: 0;
        width: 315.33px;
        height: 300px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        color: $blanco;
        align-items: left;
        opacity: 1;
    }
    
    .image__overlay1 {
        position: absolute;
        top: 0;
        width: 315.33px;
        height: 300px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        color: $blanco;
        align-items: left;
        opacity: 1;
    }

    .card-deck {
        height: fit-content;

    }

    .card-deck .card {
        padding:0;
        margin: 0;
        border-radius: 0;
        border: 0;
        background-color: $blanco;
    }
    

    .serviciosContainer {
        background-color: $blanco;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;
        margin-top: 0;

        .card-text {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .client {
        margin-top: 20px;
        margin-bottom: 40px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .bg-image2 {
        background-size:cover;
        background-position-y: 20px;
        background-position-x: -300px;
        height: 550px;
    }

    .bg-image3 {
        background-image: url('../Assets/Casa\ RM\ -\ min.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        height: 600px;
        background-position-x: -200px;
        background-position-y: -10px;
    }

    .DatosDeContacto {
        margin-top: 20px;
        text-align: left;
    }

    .liContacto {
        margin-left: 0;
    }

    .Comentarios {
        width: 265.33px;
    }

    .contact-form {
        position: relative;
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        top:0%;
        left:0%;
        z-index:0;
        height: fit-content;
        max-width: none;
        border-radius: 0px;
    }

    .contact-text {
        letter-spacing: 1px;
        color: #bbb;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
    }

    .map {
        width: 100%;
        height: 300px;
        border: 0;
        margin-top: 0px;
        padding: 0px !important;
    }

    .map iframe {
        width: 100%;
        height: 300px;
        border: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1239px){

    .marginImg {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bg-image3 {
        background-image: url('../Assets/Casa\ RM\ -\ min.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        height: 600px;
        background-position-x: -0px;
        background-position-y: -10px;
    }
}

@media only screen and (min-width: 768px) {

    .rowPadding {
        padding-top: 30px;
    }

    .bg-image {
        background-size:cover;
        background-position-y: -60px;
        height: 800px;
    }

    .bg-image2 {
        background-size:cover;
        background-position-y: 20px;
        height: 550px;
    }

    .ProyectosArq {
        margin-bottom:20px;
    }

    .Renders {
        margin-top:-150px; 
    }

    .marginMobile {
        margin-top: 20px;
    }

}